---

# Repositorio do Google Chrome

- name: Importando a chave do repositorio do Google Chrome
  apt_key: 
    url: https://dl.google.com/linux/linux_signing_key.pub
    state: present
  become: true
  tags:
    - repo
    - chrome
    - web

- name: Adicionando o Repositorio do Google Chrome
  apt_repository:
    repo: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
    state: present
    filename: google-chrome
    update_cache: yes
  become: true
  tags:
    - repo
    - chrome
    - web


# Repositorio do Opera

- name: Importando a chave do repositorio do Opera
  apt_key: 
    url: https://deb.opera.com/archive.key
    state: present
  become: true
  tags:
    - repo
    - opera
    - web

- name: Adicionando o Repositorio do Opera
  apt_repository:
    repo: "deb [arch=amd64] https://deb.opera.com/opera-stable/ stable non-free"
    state: present
    filename: opera-stable
    update_cache: yes
  become: true
  tags:
    - repo
    - opera
    - web


# Repositorio do Vivaldi

- name: Importando a chave do repositorio do Vivaldi
  apt_key: 
    url: http://repo.vivaldi.com/stable/linux_signing_key.pub
    state: present
  become: true
  tags:
    - repo
    - vivaldi
    - web

- name: Adicionando o Repositorio do Vivaldi
  apt_repository:
    repo: "deb [arch=amd64] http://repo.vivaldi.com/stable/deb/ stable main"
    state: present
    filename: vivaldi
    update_cache: yes
  become: true
  tags:
    - repo
    - vivaldi
    - web

